# do not commit locally rendered files to master branch
_book/
_bookdown_files/
libs/
**/*.html 

# ignore all html files except:

!**/mathjax_header.html

# R and RStudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata